<h2>
  <span>Registration</span>
</h2>

<div class="bannerRegister">
  <ul>
    <li>
      <h3>Need Help?</h3>
      <fa name="bullseye fa-4x"></fa>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </span>
    </li>
    <li>
      <h3>Why Register?</h3>
      <fa name="heartbeat fa-4x"></fa>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </span>
    </li>
    <li>
      <h3>What people are saying...</h3>
      <fa name="smile fa-4x"></fa>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </span>
    </li>
  </ul>
</div>

<section class="sectionRegister">
  <h2></h2>
  <form [formGroup]='formUser' (ngSubmit)="addUser(formUser.value)">
    <div class="form-row">
      <div class="col col-left">
        <!-- Input Username -->
        <div class="form-group">
          <label class="subtitle">Username</label>
          <input class="form-control" type="text" id="username" formControlName="username">
          <div class="alertNotification" *ngIf="!formUser.controls['username'].valid && formUser.controls['username'].touched">Username is required</div>
          <div class="alertNotification" *ngIf="formUser.controls['username'].touched" [hidden]="formUser.controls['username'].valid">Your username must be have 3 letters at minimum.</div>
        </div>
        <!-- Input Name -->
        <div class="form-group">
          <label class="subtitle">Name</label>
          <input class="form-control" type="text" id="name" formControlName="name">
          <div class="alertNotification" *ngIf="!formUser.controls['name'].valid && formUser.controls['name'].touched">Complete your name.</div>
        </div>
        <!-- Input Email -->
        <div class="form-group">
          <label class="subtitle">Email</label>
          <input class="form-control" type="text" id="email" formControlName="email">
          <div class="alertNotification" *ngIf="!formUser.controls['email'].valid && formUser.controls['email'].touched">Inform a valid email.</div>
        </div>
      </div>

      <div class="col col-right">
        <!-- Input City -->
        <div class="form-group">
          <label class="subtitle">City</label>
          <input class="form-control" type="text" id="city" formControlName="city">
        </div>
        <!-- Radios Ride -->
        <div class="form-group">
          <label class="subtitle">Ride in group?</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio1" type="radio" formControlName="ride" value="always">
            <label class="form-check-label" for="inlineRadio1">Always</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio2" type="radio" formControlName="ride" value="usually">
            <label class="form-check-label" for="inlineRadio2">Usually</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio3" type="radio" formControlName="ride" value="normally">
            <label class="form-check-label" for="inlineRadio1">normally</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio3" type="radio" formControlName="ride" value="often">
            <label class="form-check-label" for="inlineRadio1">Often</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio3" type="radio" formControlName="ride" value="sometimes">
            <label class="form-check-label" for="inlineRadio1">Sometimes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio3" type="radio" formControlName="ride" value="occasionally">
            <label class="form-check-label" for="inlineRadio1">Occasionally</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio3" type="radio" formControlName="ride" value="rarely">
            <label class="form-check-label" for="inlineRadio1">Rarely</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio3" type="radio" formControlName="ride" value="never">
            <label class="form-check-label" for="inlineRadio1">Never</label>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" value="submit_form" [disabled]="!formUser.valid"> Save </button>
    <button class="btn btn-primary" type="button" value="reset_form" (click)="formUser.reset()"> Discard </button>
  </form>
</section>
