/* Form Register */
.sectionRegister {
  width: 85%;
  margin: auto;
}

.sectionRegister h2{
  margin: 50px 0;
}

label.subtitle {
  display: block;
  font-weight: 500;
}

.col-right {
  padding-right: 5px !important;
  padding-left: 20px !important;
}
.col-left {
  padding-right: 20px !important;
  padding-left: 5px !important;
}

.btn-primary[type="submit"] {
  border: none;
  background-color: rgb(109, 100, 100);
  padding: .5rem 1.1rem;
  margin: 5px 15px 5px 0;
}

.btn-primary[type="button"] {
  border: none;
  background-color: #f53641;
  padding: .5rem 1.1rem;
}

.alertNotification {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  color: #e5940d;
  margin-top: 5px;
}

/* --- */

/* bannerRegister */
.bannerRegister li {
  display: inline-block;
  max-width: 33%;
  padding: 0 1%;
  font-weight: 600;
}

.bannerRegister fa,
.bannerRegister h3 {
  color: #24c5a9;
}

.bannerRegister li span {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 80%;
  line-height: 1.2em;
}