main {
  position: relative;
  margin: 10px 50px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  margin-left: 0px;
  padding: 2rem 50px;
  z-index: 2;
  background: #fff;
  border-bottom: 1px solid rgb(233, 236, 239);
  box-shadow: 0 4px 2px -2px rgb(233, 236, 239);
}

.breadcrumb {
  margin: 0 !important;
}

/* DropDown */

header .btn-group {
  float: right;
  height: 100%;
}

header .dropdown-toggle {
  background: transparent !important;
  border: none !important;
  color: #000 !important;
  box-shadow: none !important;
  font-weight: 500;
  font-size: 1em;
  height: 100%;
}

header .btn-group ul {
  box-shadow: 0 0px 6px 1px rgb(209, 212, 214);
}

header .dropdown-item.active,
header .dropdown-item:active {
  color: #9ca3a9;
  text-decoration: none;
  background-color: #e9ecef;
}

.breadcrumbArea {
  margin-top: 100px;
}

/* bannerMenu */
.bannerMenu {
  background: #b3ebe1;
  padding: 30px 50px;
}

.bannerMenu ul {
  margin: 0
}

.bannerMenu li {
  display: inline-block;
  margin-right: 4%;
}

.bannerMenu fa{
  color: #24c5a9;
}

.bannerMenu li span {
  position: relative;
  display: inline-block;
  margin-left: 22px;
}

.bannerMenu li span b {
  font-weight: bolder;
  display: block;
  font-size: 1.8rem;
  line-height: 1.5rem;
}