<header>
  <h1>
    <fa name="bicycle"></fa> {{ title }}
  </h1>

  <div class="btn-group" dropdown placement="bottom right">
    <button id="button-alignment" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-alignment">
      {{ dropdownItem.userSession }}
      <span class="caret"></span>
    </button>

    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-alignment">
      <li role="menuitem" *ngFor="let items of dropdownItem.itemsList">
        <a class="dropdown-item" href="#">{{items}}</a>
      </li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">{{ dropdownItem.logOut }}</a>
      </li>
    </ul>
  </div>
</header>

<nav class="breadcrumbArea" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>

<div class="bannerMenu">
  <ul>
    <li>
      <fa name="puzzle-piece fa-4x"></fa>
      <span>Sport type
        <b>Cycling</b>
      </span>
    </li>
    <li>
      <fa name="trophy fa-4x"></fa>
      <span>Mode
        <b>Advanced</b>
      </span>
    </li>
    <li>
      <fa name="map-signs fa-4x"></fa>
      <span>Route
        <b>30 Miles</b>
      </span>
    </li>
  </ul>
</div>

<main>
  <app-user-table></app-user-table>

  <app-user-register></app-user-register>

  <router-outlet></router-outlet>
</main>
