/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.h1,
h1 {
  font-size: 2em;
  float: left;
}

h2 {
  position: relative;
  font-size: 2.2rem;
  margin: 40px 0;
  font-weight: 400;
  min-height: 1px;
}

h2 span{
  z-index: 1;
  background: #fff;
  padding-right: 5%;
}

h2:before{
  content: '';
  position: absolute;
  border-bottom: 3px solid #efefef;
  width: 100%;
  top: 50%;
  z-index: -1;
}

ul{
  padding-inline-start: 0;
  margin: 0;
}