/* Title */

#titleTable {
  display: inline-block;
  width: 70%;
  position: relative;
}

#searchForm {
  display: inline-block;
  width: 30%;
  padding: 0 .5% 0 5%;
  vertical-align: middle;
}

.form-group {
  position: relative;
  width: 100%;
}

#searchForm .form-control {
  display: inline-block;
}

#search {
  color: #17c2a3;
  padding: 0 0 0 35px;
}

#searchForm fa {
  position: absolute;
  left: 10px;
  top: 7px;
  color: #17c2a3;
}

/* Table Users */

.table-colored {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table-colored tbody tr:nth-of-type(even) {
  background-color: #f7f7f7;
}

.table-colored tbody tr:hover {
  background-color: #e1e1e1;
}

content>table>thead>tr>th {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.table thead th {
  border: none !important;
}

.removeRow button {
  border: none;
  background: transparent;
  color: #000;
  opacity: 0;
}

.table tr:hover .removeRow button {
  opacity: 1;
}

/* Table Scroll */

thead,
tbody,
tr {
  display: block;
}

tbody {
  height: 312px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.table th,
.table td {
  padding: 5px;
  width: 14%;
  display: inline-table;
  height: 50px;
  line-height: 50px;
  border: none !important;
  cursor: default;
}

.smallItem {
  width: 4% !important;
  text-align: center;
}
