<h2 id="titleTable"><span>Users</span></h2>

<form id="searchForm" [formGroup]='searchTable' (ngSubmit)="searchUser(searchTable.value)">
  <div class="form-row">
      <!-- Input Search -->
      <div class="form-group">
        <input class="form-control" type="text" id="search" formControlName="search" placeholder="Filter table content"/>
        <fa name="search fa-1x"></fa>
        <!-- <button class="btn btn-primary" type="submit" value="submit_search"> search </button> -->
      </div>
  </div>
</form>

<table class="table table-colored">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">City</th>
      <th scope="col">Ride in a group</th>
      <th scope="col">Day of the week</th>
      <th scope="col" class="smallItem">Posts</th>
      <th scope="col" class="smallItem">Albums</th>
      <th scope="col" class="smallItem">Photos</th>
      <th scope="col" class="smallItem"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of usersData.usersList; let i = index" id="{{users.username | lowercase}}"  [hidden]="searchInput != [users.username | lowercase] && searchInput != ''">
      <td>{{users.username}}</td>
      <td>{{users.name}}</td>
      <td>{{users.email}}</td>
      <td>{{users.address.city}}</td>
      <td>{{users.rideInfo?.ride}}</td>
      <td>{{users.rideInfo?.daysOnWeek}}</td>
      <td class="smallItem">{{users.posts?.length}}</td>
      <td class="smallItem">{{users.albums?.length}}</td>
      <td class="smallItem">lag</td>
      <!-- <td>{{users.albums[].photos?.length}}</td> -->
      <td class="removeRow smallItem">
        <button id="remove" (click)="deleteItem(i)" title="remove row">
          <fa name="trash"></fa>
        </button>
      </td>
    </tr>
  </tbody>
</table>